
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>course</title>
</head>
<body>
    <div> 
        <form action="/MVClab/details" method="post" enctype="multipart/form-data">
            <h1>Course data input</h1>
            id : <input type="text" name="id" />
            name :<input type="text" name="name" />
            duration : <input type="text" name="duration" />

            photo:<input type="file" name="photo" /><br />
            <input type="submit" />

        </form>
    </div>
</body>
</html>
