
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>details</title>
</head>
<body>
    <div> 
        <h1>course details</h1>
        name : @ViewBag.name
        id : @ViewBag.id
        duration : @ViewBag.duration
        <img src="~/attach/@ViewBag.photo" />
    </div>
</body>
</html>
