
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>home</title>
</head>
<body>
    <div>
        <h1>home</h1>
        <a href="/MVClab/contact">contact</a><br />
        <a href="/MVClab/about">about</a><br />
    </div>
</body>
</html>
